html.loading {
  display: none;
}

body {
  line-height: 1;
  background-color: var(--background-color);
}

.container-fluid {
  color: var(--color-text-body);
}

#kopia .options-select {
  overflow: ellipsis
}

#kopia .btn-close {
  background-color: var(--background-color);
}

#kopia .btn {
  color: var(--color-text);
  margin-right: 5px;
}

#kopia .btn:hover,
#kopia .btn:focus,
#kopia .btn:active,
#kopia .btn:disabled {
  color: var(--color-text);
  filter: brightness(80%);
}

#kopia .btn-primary {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
}

#kopia .btn-light {
  background-color: var(--color-light);
  border-color: var(--color-light);
}

#kopia .btn-secondary {
  background-color: var(--color-secondary);
  border-color: var(--color-secondary);
}

#kopia .btn-submit {
  background-color: var(--color-submit);
  border-color: var(--color-submit);
}

#kopia .btn-success {
  background-color: var(--color-success);
  border-color: var(--color-success);
}

#kopia .btn-warning {
  background-color: var(--color-warning);
  border-color: var(--color-warning);
}

#kopia .btn-danger {
  background-color: var(--color-danger);
  border-color: var(--color-danger);
}

#kopia a,
#kopia .breadcrumb-item,
#kopia .breadcrumb-item.active {
  color: var(--color-link);
  --bs-breadcrumb-divider-color: var(--color-link);
}

#kopia a:hover,
#kopia a:active {
  color: var(--color-link);
  filter: brightness(80%);
}

#kopia .table,
#kopia .table-hover>tbody>tr:hover>* {
  color: var(--color-text-body);
  --bs-table-bg: var(--background-color);
  --bs-table-color: var(--color-text-body);
}

#kopia .table-striped>tbody>tr:nth-of-type(odd)>* {
  color: var(--color-text-body);
  background-color: var(--color-select);
}

#kopia .table-striped>tbody>tr:nth-of-type(even)>* {
  color: var(--color-text-body);
  background-color: var(--background-color);
}

#kopia nav.navbar {
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 10px;
}

#kopia .navbar-light .navbar-nav .nav-link,
#kopia .navbar-light .navbar-nav .nav-link.active,
#kopia .navbar-light .navbar-nav .show>.nav-link {
  color: var(--color-text-nav);
  text-align: center;
}

#kopia .navbar-light .navbar-nav .nav-link::after {
  display: block;
  content: attr(data-title);
  font-weight: bold;
  height: 0px;
  overflow: hidden;
  visibility: hidden;
}

#kopia .navbar-light .navbar-nav .nav-link:hover {
  color: var(--color-text-nav);
  filter: brightness(80%);
}

#kopia .form-control {
  color: var(--color-text-body);
  background-color: var(--background-color);
}

#kopia .form-select {
  color: var(--color-text-body);
  background-color: var(--background-color);
}

#kopia .form-control-sm {
  color: var(--color-text-body);
  background-color: var(--background-color);
}

#kopia .form-select:focus,
#kopia .form-control:focus,
#kopia .form-control-sm:focus,
#kopia .form-check-input:focus,
#kopia .accordion-button:focus {
  color: var(--color-text-body);
  box-shadow: 0 0 0 0.10rem var(--color-primary);
}

#kopia .form-check-input {
  color: var(--color-text-body);
}

#kopia .text-muted.form-text,
#kopia .form-text,
#kopia .form-control::placeholder {
  color: var(--color-text-form-help) !important
}

#kopia .accordion-body,
#kopia .accordion-button:not(.collapsed) {
  color: var(--color-text-body);
  background-color: var(--background-color);
}

#kopia .accordion-button {
  padding: 10px;
  font-weight: bold;
  color: var(--color-text-body);
  background-color: var(--background-color)
}

#kopia .accordion-button.collapsed {
  font-weight: bold;
  padding: 10px;
}

#kopia .accordion-button:active,
#kopia .accordion-button:visited,
#kopia .accordion-button:hover,
#kopia .accordion-button:focus {
  color: var(--color-text-body);
  background-color: var(--color-select);
  filter: brightness(95%)
}

#kopia .accordion-item {
  border: 1px solid rgba(0,0,0,.125);
}

.popover {
  max-width: 1000px;
}

.elide {
  text-overflow: ellipsis;
}

.App-logo {
  height: 32px;
}

.active {
  font-weight: bold;
}

.label-description {
  padding-top: 4px;
  padding-bottom: 8px;
}

.label-help {
  padding-top: 1rem;
  padding-bottom: 8px;
  font-size: 90%;
}

.required {
  font-weight: bold;
}

.policyFieldColumn {
  margin-top: 4px;
}

.policyEditorHeader {
  font-size: 110%;
  font-weight: bold;
  padding-top: 4px;
  padding-bottom: 4px;
}

.policyField {
  font-weight: bold;
}

.providerParams {
  padding: 10px;
}

.providerIcon {
  min-width: 120px;
  max-width: 240px;
  min-height: 110px;
  margin: 10px;
  vertical-align: middle;
}

#kopia .advancedOptions {
  background-color: var(--background-color);
  color: var(--color-text-body);
  padding: 10px;
  border: 1px solid #ccc;
}

.providerSpecificParams {
  background-color: #f0f0ff;
  border: 2px solid #ddd;
  padding: 10px;
  margin-left: 0px;
  margin-top: 0px;
  margin-bottom: 10px;
}

.debug-json {
  font-size: 80%;
}

.error {
  color: var(--color-error);
}

.normal {
  display: block;
}

.hidden {
  display: none;
}

div.tab-body {
  padding: 10px;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.policy-help {
  font-size: 80%;
  font-weight: normal;
}

.new-policy-panel {
  padding: 10px;
}

#snapshot-path {
  width: 400px;
}

#kopia .version-info {
  padding-left: 10px;
  color: var(--color-text-body);
  font-size: 80%;
}

#kopia .modal-footer,
#kopia .modal-header,
#kopia .modal-body {
  color: var(--color-text-body);
  background-color: var(--background-color);
}

#kopia .mounted-path {
  width: 30em;
  display: inline;
  color: var(--color-text-body);
  background-color: var(--background-color);
}

.logs-table {
  font-family: monospace;
  font-size: 70%;
  overflow: auto;
  max-height: 400px;
  border: 1px solid #aaa;
}

.loglevel-0 {
  color: var(--color-text-body)
}

/* debug */
.loglevel-1 {
  font-weight: bold;
}

/* info */
.loglevel-2 {
  color: var(--color-warning);
  font-weight: bold;
}

/* warning */
.loglevel-3 {
  color: var(--color-error);
  font-weight: bold;
}

/* error */
.counter-badge {
  font-size: 90%;
  margin: 2px;
}

#kopia .badge.bg-policy-badge {
  margin-right: 5px;
  background-color: var(--color-primary);
  color: var(--color-text);
}

#kopia .badge {
  margin-block-start: 5px;
}

#kopia .badge.bg-retention-badge-warning {
  background-color: var(--color-badge-warning);
}

#kopia .badge.bg-retention-badge-danger {
  background-color: var(--color-badge-danger);
}

#kopia .badge.bg-retention-badge-info {
  background-color: var(--color-badge-info);
}

#kopia .badge.bg-retention-badge-primary {
  background-color: var(--color-badge-primary);
}

#kopia .badge.bg-retention-badge-secondary{
  background-color: var(--color-badge-secondary);
}

#kopia .badge.bg-retention-badge-success {
  background-color: var(--color-badge-success);
}

#kopia .badge.bg-snapshot-pin {
  background-color: var(--color-primary);
  color: var(--color-text);
}

.page-title {
  margin-left: 10px;
  font-weight: bold;
  height: 40px;
  font-size: 125%;
  vertical-align: text-bottom;
}

.nested-task {
  padding: 10px;
  padding-left: 40px;
}

.estimateResults {
  font-size: 95%;
}

.list-actions {
  min-height: 40px;
}

.cli-equivalent {
  font-family: monospace;
}

.vpadded {
  padding-top: 6px;
  padding-bottom: 6px;
}

#kopia .multiselect {
  width: 20px;
  padding-left: 35px;
  padding-top: 0x;
  margin-top: -5px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

#kopia .select-theme {
  font-size: 90%;
}

#kopia .snapshot-hash {
  font-family: 'Courier New', Courier, monospace;
  font-size: 80%;
  font-weight: bold;
}

#kopia .snapshot-description {
  font-size: 80%;
  color: var(--color-text-body);
}

#kopia .snapshot-description-set {
  color: var(--color-badge-warning);
}

#kopia .pagination,
#kopia .pagination-sm {
  --bs-pagination-bg: var(--background-color);
  --bs-pagination-disabled-bg: var(--background-color);
  --bs-pagination-disabled-color: var(--color-text-body);
  --bs-pagination-active-bg: var(--color-primary);
  --bs-pagination-active-border-color: var(--color-primary);
  --bs-pagination-active-color: var(--color-text-body);
}

#kopia li.page-item:disabled {
  background-color: var(--background-color)
}
