/*Supported themes */
.light {
  --background-color: #ffffff;
  --color-primary: #2a7fff;
  --color-secondary: #23a25a;
  --color-warning: #e1704b;
  --color-success: #5ea5cd;
  --color-submit: #00b4d8;
  --color-select: #fefefe;
  --color-link: #2a7fff;
  --color-light: #6c757d;

  --color-text: #ffffff;
  --color-text-body: #000000;
  --color-text-nav: #000000;
  --color-text-form-help: #6c757d;

  --color-error: #d2475a;
  --color-danger: #d2475a;

  --color-badge-warning: #c49508;
  --color-badge-primary: #5b89b4;
  --color-badge-secondary: #787a7d;
  --color-badge-info: #159489;
  --color-badge-danger: #f3712b;
  --color-badge-success: #5da745;
}

.dark {
  --background-color: #222222;
  --color-primary: #1162b1;
  --color-secondary: #0d8b99;
  --color-warning: #7e0d6b;
  --color-success: #0d9aab;
  --color-submit: #00b4d8;
  --color-select: #2c2c2c;
  --color-link: #799bd1;
  --color-light: #6c757d;

  --color-text: #cfcfcf;
  --color-text-body: #cfcfcf;
  --color-text-nav: #cfcfcf;
  --color-text-form-help: #6c757d;

  --color-error: #fb917d;
  --color-danger: #f5945f;

  --color-badge-warning: #c49508;
  --color-badge-primary: #47729a;
  --color-badge-secondary: #6e7072;
  --color-badge-info: #127d74;
  --color-badge-danger: #c14b0b;
  --color-badge-success: #498235;
}

.pastel {
  --background-color: #ffffff;
  --color-primary: #9bf6ff;
  --color-secondary: #bdb2ff;
  --color-warning: #ffd6a5;
  --color-success: #bdb2ff;
  --color-submit: #a0c4ff;
  --color-select: #fefefe;
  --color-link: #2a7fff;
  --color-light: #6c757d;

  --color-text: #000000;
  --color-text-body: #000000;
  --color-text-nav: #c095e4;
  --color-text-form-help: #6c757d;

  --color-error: #ffadad;
  --color-danger: #ffadad;

  --color-badge-warning: #d8a509;
  --color-badge-primary: #47729a;
  --color-badge-secondary: #6e7072;
  --color-badge-info: #127d74;
  --color-badge-danger: #c14b0b;
  --color-badge-success: #498235;
}

.ocean {
  --background-color: #ffffff;
  --color-primary: #03045e;
  --color-secondary: #0077b6;
  --color-warning: #e8cc2a;
  --color-success: #0077b6;
  --color-submit: #00b4d8;
  --color-select: #fefefe;
  --color-link: #03045e;
  --color-light: #6c757d;

  --color-text: #ffffff;
  --color-text-body: #03045e;
  --color-text-nav: #03045e;
  --color-text-form-help: #6c757d;

  --color-error: #d2475a;
  --color-danger: #d2475a;

  --color-badge-warning: #d8a509;
  --color-badge-primary: #47729a;
  --color-badge-secondary: #6e7072;
  --color-badge-info: #127d74;
  --color-badge-danger: #c14b0b;
  --color-badge-success: #498235;
}
